* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.neon-text-container {
    text-align: center;
}

.neon-text {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6), 0 0 40px rgba(0, 255, 255, 0.4);
    animation: neonAnimation 1.5s infinite alternate;
}

.neon-subtext {
    font-size: 1.5rem;
    color: #fff;
    opacity: 0.7;
    animation: fadeIn 3s infinite alternate;
}

@keyframes neonAnimation {
    0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), 0 0 10px rgba(0, 255, 255, 0.8), 0 0 20px rgba(0, 255, 255, 0.6), 0 0 40px rgba(0, 255, 255, 0.4);
    }
    100% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(0, 255, 255, 1), 0 0 40px rgba(0, 255, 255, 1), 0 0 60px rgba(0, 255, 255, 1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.content {
    margin-top: 50px;
}

.neon-button {
    padding: 20px 40px;
    font-size: 1.2rem;
    background-color: transparent;
    border: 2px solid #0ff;
    color: #0ff;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
    text-align: center;
    letter-spacing: 2px;
}

.neon-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff, 0 0 80px #0ff;
}

